html, body {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

#dotsContainer {
  position: relative;
  height: 100%;
  width: 100%;
}

.dot {
  cursor: pointer;
  position: absolute;
  height: 40px;
  width: 40px;
  content: '';
  border-radius: 50%;
  animation: fade-in-out 1s ease-in-out;
}

@keyframes fade-in-out {
  to, from {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
}