body {
  position: relative;
  font-family: sans-serif;
}

.dot {
  cursor: pointer;
  position: absolute;
  height: 40px;
  width: 40px;
  content: '';
  border-radius: 50%;
  animation: fade-in-out 1.5s ease-in-out;
}

@keyframes fade-in-out {
  to, from {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
}